
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'paimentCollaborator.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'paimentCollaborator.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'paimentCollaborator.cardHolder' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.cardHolder' | translate}}" autofocus  id="1" [ngModel]="item.cardHolder">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'paimentCollaborator.cardNumber' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.cardNumber' | translate}}" autofocus  id="2" [ngModel]="item.cardNumber">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'paimentCollaborator.expirationDate' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.expirationDate' | translate}}" autofocus  id="3" [ngModel]="item.expirationDate">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'paimentCollaborator.cvc' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.cvc' | translate}}" autofocus  id="4" [ngModel]="item.cvc">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'paimentCollaborator.country' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.country' | translate}}" autofocus  id="5" [ngModel]="item.country?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'paimentCollaborator.postal' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.postal' | translate}}" autofocus  id="6" [ngModel]="item.postal">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'paimentCollaborator.city' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.city' | translate}}" autofocus  id="7" [ngModel]="item.city?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'paimentCollaborator.description' | translate}}</label>
                        <textarea id="8" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'paimentCollaborator.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'paimentCollaborator.amountToPaid' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'paimentCollaborator.amountToPaid' | translate}}" [ngModel]="item.amountToPaid"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'paimentCollaborator.startDate' | translate}}</label>
                        <p-calendar id="10" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paimentCollaborator.startDate' | translate}}"  [ngModel]="item.startDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'paimentCollaborator.endDate' | translate}}</label>
                        <p-calendar id="11" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paimentCollaborator.endDate' | translate}}"  [ngModel]="item.endDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'paimentCollaborator.consumedEntity' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="12" [disabled]="true" placeholder="{{'paimentCollaborator.consumedEntity' | translate}}" [ngModel]="item.consumedEntity"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'paimentCollaborator.consumedProjet' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="13" [disabled]="true" placeholder="{{'paimentCollaborator.consumedProjet' | translate}}" [ngModel]="item.consumedProjet"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'paimentCollaborator.consumedAttribut' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="14" [disabled]="true" placeholder="{{'paimentCollaborator.consumedAttribut' | translate}}" [ngModel]="item.consumedAttribut"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="15">{{'paimentCollaborator.consumedTokenInput' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="15" [disabled]="true" placeholder="{{'paimentCollaborator.consumedTokenInput' | translate}}" [ngModel]="item.consumedTokenInput"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="16">{{'paimentCollaborator.consumedTokenOutput' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="16" [disabled]="true" placeholder="{{'paimentCollaborator.consumedTokenOutput' | translate}}" [ngModel]="item.consumedTokenOutput"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="17">{{'paimentCollaborator.total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="17" [disabled]="true" placeholder="{{'paimentCollaborator.total' | translate}}" [ngModel]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="18">{{'paimentCollaborator.basic' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="18" [disabled]="true" placeholder="{{'paimentCollaborator.basic' | translate}}" [ngModel]="item.basic"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="19">{{'paimentCollaborator.discount' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="19" [disabled]="true" placeholder="{{'paimentCollaborator.discount' | translate}}" [ngModel]="item.discount"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="20">{{'paimentCollaborator.remaining' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="20" [disabled]="true" placeholder="{{'paimentCollaborator.remaining' | translate}}" [ngModel]="item.remaining"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="21">{{'paimentCollaborator.priceCloud' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="21" [disabled]="true" placeholder="{{'paimentCollaborator.priceCloud' | translate}}" [ngModel]="item.priceCloud"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="22">{{'paimentCollaborator.paiementDate' | translate}}</label>
                        <p-calendar id="22" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paimentCollaborator.paiementDate' | translate}}"  [ngModel]="item.paiementDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="23">{{'paimentCollaborator.collaborator' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.collaborator' | translate}}" autofocus  id="23" [ngModel]="item.collaborator?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="24">{{'paimentCollaborator.packaging' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.packaging' | translate}}" autofocus  id="24" [ngModel]="item.packaging?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="25">{{'paimentCollaborator.paimentCollaboratorState' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.paimentCollaboratorState' | translate}}" autofocus  id="25" [ngModel]="item.paimentCollaboratorState?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="26">{{'paimentCollaborator.paimentCollaboratorType' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.paimentCollaboratorType' | translate}}" autofocus  id="26" [ngModel]="item.paimentCollaboratorType?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="27">{{'paimentCollaborator.inscriptionCollaborator' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.inscriptionCollaborator' | translate}}" autofocus  id="27" [ngModel]="item.inscriptionCollaborator?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="28">{{'paimentCollaborator.coupon' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.coupon' | translate}}" autofocus  id="28" [ngModel]="item.coupon?.libelle">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="29">{{'paimentCollaborator.deployAndTestOnLine' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="29"  [disabled]="true" [ngModel]="item.deployAndTestOnLine"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="30">{{'paimentCollaborator.offreCloudProvider' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCollaborator.offreCloudProvider' | translate}}" autofocus  id="30" [ngModel]="item.offreCloudProvider?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



