    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'forumComment.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'forumComment.tabPan' | translate}}">
                        <div class="grid">

                                    <div class="field col-11 md:col-6">
                                        <label for="1">{{'forumComment.collaborator' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="item.collaborator" id="1" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'forumComment.collaborator' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'forumComment.creationDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'forumComment.creationDate' | translate}}"  [(ngModel)]="item.creationDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'forumComment.content' | translate}}</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="{{'forumComment.content' | translate}}"  [(ngModel)]="item.content"
                                                       ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'forumComment.forum' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="forums" [(ngModel)]="item.forum" id="4" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'forumComment.forum' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
