        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'projectTechnology.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'projectTechnology.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'projectTechnology.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validProjectTechnologyCode}"  />
                                                    <small class='p-error' *ngIf='!validProjectTechnologyCode'>Code is obligatory.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'projectTechnology.libelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validProjectTechnologyLibelle}"  />
                                                    <small class='p-error' *ngIf='!validProjectTechnologyLibelle'>Libelle is obligatory.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'projectTechnology.defaultDbName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.defaultDbName' | translate}}" id="3" [(ngModel)]="item.defaultDbName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'projectTechnology.defaultUserName' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.defaultUserName' | translate}}" id="4" [(ngModel)]="item.defaultUserName"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'projectTechnology.defaultUserPassword' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.defaultUserPassword' | translate}}" id="5" [(ngModel)]="item.defaultUserPassword"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'projectTechnology.defaultPort' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.defaultPort' | translate}}" id="6" [(ngModel)]="item.defaultPort"
                                                             />
                                                    
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'projectTechnology.defaultBasePackage' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'projectTechnology.defaultBasePackage' | translate}}" id="7" [(ngModel)]="item.defaultBasePackage"
                                                             />
                                                    
                                                </div>


                                            <div class="field col-11 md:col-6">
                                                <label for="8">{{'projectTechnology.projectTechnologyType' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="projectTechnologyTypes" [(ngModel)]="item.projectTechnologyType" id="8" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'projectTechnology.projectTechnologyType' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
