    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'inscriptionCollaborator.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'inscriptionCollaborator.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'inscriptionCollaborator.description' | translate}}</label>
                                            <textarea id="1" pInputTextarea rows="5" cols="30" placeholder="{{'inscriptionCollaborator.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'inscriptionCollaborator.startDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'inscriptionCollaborator.startDate' | translate}}"  [(ngModel)]="item.startDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'inscriptionCollaborator.endDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'inscriptionCollaborator.endDate' | translate}}"  [(ngModel)]="item.endDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'inscriptionCollaborator.consumedEntity' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'inscriptionCollaborator.consumedEntity' | translate}}" [(ngModel)]="item.consumedEntity"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'inscriptionCollaborator.consumedProjet' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'inscriptionCollaborator.consumedProjet' | translate}}" [(ngModel)]="item.consumedProjet"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'inscriptionCollaborator.consumedAttribut' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'inscriptionCollaborator.consumedAttribut' | translate}}" [(ngModel)]="item.consumedAttribut"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'inscriptionCollaborator.consumedTokenInput' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'inscriptionCollaborator.consumedTokenInput' | translate}}" [(ngModel)]="item.consumedTokenInput"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="8">{{'inscriptionCollaborator.consumedTokenOutput' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="8" placeholder="{{'inscriptionCollaborator.consumedTokenOutput' | translate}}" [(ngModel)]="item.consumedTokenOutput"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="9">{{'inscriptionCollaborator.collaborator' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="item.collaborator" id="9" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'inscriptionCollaborator.collaborator' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="10">{{'inscriptionCollaborator.packagingPlan' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="packagingPlans" [(ngModel)]="item.packagingPlan" id="10" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="code" placeholder="{{'inscriptionCollaborator.packagingPlan' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
