
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'packaging.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'packaging.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'packaging.name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'packaging.name' | translate}}" autofocus  id="1" [ngModel]="item.name">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'packaging.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'packaging.code' | translate}}" autofocus  id="2" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'packaging.description' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'packaging.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'packaging.price' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'packaging.price' | translate}}" [ngModel]="item.price"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'packaging.maxEntity' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'packaging.maxEntity' | translate}}" [ngModel]="item.maxEntity"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'packaging.maxProjet' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'packaging.maxProjet' | translate}}" [ngModel]="item.maxProjet"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'packaging.maxAttribut' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'packaging.maxAttribut' | translate}}" [ngModel]="item.maxAttribut"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'packaging.maxTokenInput' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'packaging.maxTokenInput' | translate}}" [ngModel]="item.maxTokenInput"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'packaging.maxTokenOutput' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'packaging.maxTokenOutput' | translate}}" [ngModel]="item.maxTokenOutput"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'packaging.packagingPlans' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.packagingPlans" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Number of month</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Max entity</th>
                                        <th>Max projet</th>
                                        <th>Max attribut</th>
                                        <th>Max token input</th>
                                        <th>Max token output</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td>{{p.code}}</td>
                                        <td>{{p.numberOfMonth}}</td>
                                        <td>{{p.price}}</td>
                                        <td>{{p.description}}</td>
                                        <td>{{p.maxEntity}}</td>
                                        <td>{{p.maxProjet}}</td>
                                        <td>{{p.maxAttribut}}</td>
                                        <td>{{p.maxTokenInput}}</td>
                                        <td>{{p.maxTokenOutput}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'packaging.packagingDetails' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.packagingDetails" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Name</th>
                                        <th>Exist</th>
                                        <th>Description</th>
                                        <th>Packaging detail group</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td><i *ngIf="p.exist" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.exist" class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td>{{p.description}}</td>
                                        <td>{{p.packagingDetailGroup?.libelle}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



