
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'paimentCoupon.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'paimentCoupon.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'paimentCoupon.description' | translate}}</label>
                        <textarea id="1" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'paimentCoupon.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'paimentCoupon.coupon' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCoupon.coupon' | translate}}" autofocus  id="2" [ngModel]="item.coupon?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'paimentCoupon.total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'paimentCoupon.total' | translate}}" [ngModel]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'paimentCoupon.paiementDate' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paimentCoupon.paiementDate' | translate}}"  [ngModel]="item.paiementDate" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'paimentCoupon.paiementDateConfirmation' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'paimentCoupon.paiementDateConfirmation' | translate}}"  [ngModel]="item.paiementDateConfirmation" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'paimentCoupon.paimentCouponState' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'paimentCoupon.paimentCouponState' | translate}}" autofocus  id="6" [ngModel]="item.paimentCouponState?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



