        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'city.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'city.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'city.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'city.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCityCode}"  />
                                                    <small class='p-error' *ngIf='!validCityCode'>Code is obligatory.</small>
                                                </div>


                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'city.libelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'city.libelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCityLibelle}"  />
                                                    <small class='p-error' *ngIf='!validCityLibelle'>Libelle is obligatory.</small>
                                                </div>


                                            <div class="field col-11 md:col-6">
                                                <label for="3">{{'city.country' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="countrys" [(ngModel)]="item.country" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'city.country' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
