    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'forum.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'forum.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'forum.content' | translate}}</label>
                                            <textarea id="1" pInputTextarea rows="5" cols="30" placeholder="{{'forum.content' | translate}}"  [(ngModel)]="item.content"
                                                       ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'forum.collaborator' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="item.collaborator" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'forum.collaborator' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'forum.creationDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'forum.creationDate' | translate}}"  [(ngModel)]="item.creationDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'forum.publicationDate' | translate}}</label>
                                            <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'forum.publicationDate' | translate}}"  [(ngModel)]="item.publicationDate"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'forum.title' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'forum.title' | translate}}" id="5" [(ngModel)]="item.title"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'forum.likes' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'forum.likes' | translate}}" [(ngModel)]="item.likes"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'forum.comments' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'forum.comments' | translate}}" [(ngModel)]="item.comments"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="8">{{'forum.description' | translate}}</label>
                                            <textarea id="8" pInputTextarea rows="5" cols="30" placeholder="{{'forum.description' | translate}}"  [(ngModel)]="item.description"
                                                       ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="9">{{'forum.forumSubject' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="forumSubjects" [(ngModel)]="item.forumSubject" id="9" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'forum.forumSubject' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="10">{{'forum.forumState' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="forumStates" [(ngModel)]="item.forumState" id="10" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'forum.forumState' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'forum.forumComments' | translate}}">
                                        <div class="p-col">
                                            <div class="grid">
                                                            <div class="field col-11 md:col-6">
                                                                <label>Collaborator</label>
                                                                <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="forumCommentsElement.collaborator"
                                                                             id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="id"
                                                                             placeholder="Collaborator"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">Creation date</label>
                                                                <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="Creation date" [(ngModel)]="forumCommentsElement.creationDate"
                                                                            dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">{{'forumComment.content' | translate}}</label>
                                                                <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="{{'forumComment.content' | translate}}"  [(ngModel)]="item.content"
                                                                           ></textarea>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addForumComments()"></button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-col">
                                            <div class="card">
                                                <p-table [value]="item.forumComments" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Collaborator</th>
                                                                        <th>Creation date</th>
                                                                        <th>Content</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.collaborator?.id}}</td>
                                                                        <td>{{p.creationDate | date: dateFormatColumn}}</td>
                                                                        <td>{{p.content}}</td>
                                                            <td>
                                                                <button (click)="deleteForumComments(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editForumComments(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                        </div>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
