
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'packagingDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'packagingDetail.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'packagingDetail.packaging' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'packagingDetail.packaging' | translate}}" autofocus  id="1" [ngModel]="item.packaging?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'packagingDetail.name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'packagingDetail.name' | translate}}" autofocus  id="2" [ngModel]="item.name">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="3">{{'packagingDetail.exist' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="3"  [disabled]="true" [ngModel]="item.exist"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'packagingDetail.description' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'packagingDetail.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'packagingDetail.packagingDetailGroup' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'packagingDetail.packagingDetailGroup' | translate}}" autofocus  id="5" [ngModel]="item.packagingDetailGroup?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



