<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('PackagingPlan')" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1">{{'packagingPlan.name' | translate}}</label>
                            <input  class="w-full"  pInputText id="1" type="text"  [(ngModel)]="criteria.nameLike">
                        </div>
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2">{{'packagingPlan.code' | translate}}</label>
                            <input  class="w-full"  pInputText id="2" type="text"  [(ngModel)]="criteria.codeLike">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'packagingPlan.packaging' | translate}}</label>
                            <p-dropdown [options]="packagings" [(ngModel)]="criteria.packaging" id="3" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'packagingPlan.packaging' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-1">{{'packagingPlan.numberOfMonthMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.numberOfMonthMin" id="4-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-2">{{'packagingPlan.numberOfMonthMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.numberOfMonthMax" id="4-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-1">{{'packagingPlan.priceMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.priceMin" id="5-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'packagingPlan.priceMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.priceMax" id="5-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-1">{{'packagingPlan.maxEntityMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxEntityMin" id="7-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'packagingPlan.maxEntityMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxEntityMax" id="7-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-1">{{'packagingPlan.maxProjetMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxProjetMin" id="8-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="8-2">{{'packagingPlan.maxProjetMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxProjetMax" id="8-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="9-1">{{'packagingPlan.maxAttributMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxAttributMin" id="9-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="9-2">{{'packagingPlan.maxAttributMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxAttributMax" id="9-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="10-1">{{'packagingPlan.maxTokenInputMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxTokenInputMin" id="10-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="10-2">{{'packagingPlan.maxTokenInputMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxTokenInputMax" id="10-2"></p-inputNumber>
                       </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="11-1">{{'packagingPlan.maxTokenOutputMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxTokenOutputMin" id="11-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="11-2">{{'packagingPlan.maxTokenOutputMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.maxTokenOutputMax" id="11-2"></p-inputNumber>
                       </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['name', 'code', 'packagingcode', 'numberOfMonth', 'price', 'maxEntity', 'maxProjet', 'maxAttribut', 'maxTokenInput', 'maxTokenOutput']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'packagingPlan.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="name">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.name' | translate}}</span>
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="element.name" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="packaging">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.packaging' | translate}}</span>
                                <p-sortIcon field="packaging"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="numberOfMonth">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.numberOfMonth' | translate}}</span>
                                <p-sortIcon field="numberOfMonth"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="price">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.price' | translate}}</span>
                                <p-sortIcon field="price"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="maxEntity">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.maxEntity' | translate}}</span>
                                <p-sortIcon field="maxEntity"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="maxProjet">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.maxProjet' | translate}}</span>
                                <p-sortIcon field="maxProjet"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="maxAttribut">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.maxAttribut' | translate}}</span>
                                <p-sortIcon field="maxAttribut"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="maxTokenInput">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.maxTokenInput' | translate}}</span>
                                <p-sortIcon field="maxTokenInput"></p-sortIcon>
                            </div>
                        </th>
                                
                                <!-- 
                        <th pSortableColumn="maxTokenOutput">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packagingPlan.maxTokenOutput' | translate}}</span>
                                <p-sortIcon field="maxTokenOutput"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.name}}</td>
                            
                            
                        <td>{{element.code}}</td>
                            
                            
                        <td>{{element.packaging?.code}}</td>
                            
                            
                        <td>{{element.numberOfMonth}}</td>
                            
                            
                        <td>{{element.price}}</td>
                            
                            
                        <td>{{element.maxEntity}}</td>
                            
                            
                        <td>{{element.maxProjet}}</td>
                            
                            
                        <td>{{element.maxAttribut}}</td>
                            
                            
                        <td>{{element.maxTokenInput}}</td>
                            
                             <!-- 
                        <td>{{element.maxTokenOutput}}</td>
                             --> 
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'packaging plan' : 'packaging plans' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-packaging-plan-create-collaborator  *ngIf="createDialog  && createActionIsValid"></app-packaging-plan-create-collaborator>
        <app-packaging-plan-edit-collaborator  *ngIf="editDialog  && editActionIsValid"></app-packaging-plan-edit-collaborator>
        <app-packaging-plan-view-collaborator  *ngIf="viewDialog  && viewActionIsValid"></app-packaging-plan-view-collaborator>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
